body {
  background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
}

.page_button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(219, 21, 21);
  border-radius: 50%;
  color: black;
  text-align: center;
  font-size: 3em;
  margin: 0 10px;
  overflow: hidden;
}

.App {
  justify-content: space-between;
  text-align: center;
}

.card {
  width: 300px;
  height: 300px;
  border-style: double;
  margin: 15px 50px;
  display: inline-block;
  justify-content: space-between;
}

.card:hover {
  box-shadow: 2px 2px 10px 10px rgb(199, 119, 119);
}

img {
  width: 150px;
  height: 150px;
}